/*Généralité*/
@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
    color: rgb(119,119,119); 
    margin: 0; 
    font-size: 16px; 
    width: 100%;
} 

h1, h2 {
    font-size: 157%;
    font-weight: 900;
}

h2, h3 { 
    color: rgb(39,39,39); 
    transition: all 0.8s ease;
} 

header { 
    position: fixed;
    z-index: 4; 
    height: 100px; 
    background-color: white; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width: 100%; 
}

#services, #projets { 
    padding-top: 60px;
}

#services h2, #projets h2 {
    margin-top: 0;
    padding-top: 0;
}

header ul {
    list-style-type: none;
    display: flex;
}

header a {
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(80,80,80);
}

ul a:hover {
	padding: 35px 10px;
	border-top: 3px solid rgb(92,173,211);
}

a img {
    border: 0; 
}

/*La partie des images début*/

#slider {
    position: relative;
}

#slider, .slide {
    color: white;
    font-weight: bold;
    overflow: hidden;
    width: 100%;
}

.headerSlide {
    height: 100px;
}

.bodySlide {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
}

/* Mise en place des liens de navigation du slider */
.slide nav a {
    z-index: 2;
    background: rgba(0,0,0,.4);
    color: rgb(255,255,255);
    text-decoration: none;
    height: 60px;
    width: 60px;
    border-radius: 35px;
    position: absolute;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide nav a:hover {
    background: rgba(0,0,0,.8);
}

.prev {
    left: -35px;
}

.next {
    right: -35px;
}

.prev span {
    padding-left: 20px;
}

.next span {
    padding-right: 20px;
}

/* Texte du slider */

.textSlide {
    margin: 6%;
    max-width: 488px;
}

.textSlide h1 span {
    color: rgb(92,173,211);
}

.textSlide p {
    font-size: 105%;
    margin-bottom: 40px;
}

.textSlide a { 
    color: white;
    background-color: rgb(92,173,211);
    padding: 10px 15px;
    border-radius: 3px;
    border-bottom: 3px solid rgb(68,148,187);
    text-decoration: none;
}

#one .bodySlide {
    background: url(../Images/slider/bg1.jpg) no-repeat center;
    background-size: cover;
}

#two .bodySlide {
    background: url('../Images/slider/bg2.jpg') no-repeat center;
    background-size: cover;
}

/* Effet transition au changement de slide */
#one {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
}

#two {
    opacity: 0;
    transition: all 1.5s ease-in-out;
}

#two:target {
    opacity: 1;
}
/*La partie des services début*/

#servicesBody {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

#conteneurServices {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#services img {
    margin: 60px auto;
}

.servicesDescription {
    display: flex;
}

.servicesText {
    margin-left : 20px;
    max-width: 600px; /* Pour "forcer" retour à la ligne sur IE */
}


/* Mise en place du logo rond avec bulle bleue */

.servicesLogo {
    height: 60px;
    width: 60px;
    min-width: 60px; /* Eviter aplatissement face au texte */
    border-radius: 50%;
    border: 1px solid rgb(217,217,217);
    display: flex;
    align-self: center; /* Centrer le logo fontawesome */
    padding-top: 5px; /* Centrer le logo fontawesome */
    justify-content: center;
    position: relative; /* Positionnement bulleBleue */
    color: rgb(92,173,211);
    transition: all 0.5s ease;
}

.bulleBleue {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(92,173,211);
    position: absolute;
    top: 25px;
    right: -5px;
}

/* En-tête des sections */
.sectionHeader {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

hr {
	overflow: visible;
    width: 200px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(217,217,217,0), rgba(217,217,217,1), rgba(217,217,217,0));
    margin-bottom: 30px;
}

/* Mise en place cosmétique de la bulle bleue au centre de la ligne séparatrice */
hr::after {
    content: '•';
    color: rgb(92,173,211);
    font-size: 50px;
    padding: 0px 5px;
    margin: 0;
    position: relative;
    top: -28px;
    background-color: white;
}

/*La partie des projets début*/
#projets hr::after {
    background-color: rgb(245,245,245);
}

#projets {
    background-color: rgb(245,245,245);
    padding-bottom: 50px;
}

#projets ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 50px 0;
} 

#projets li {
    padding: 10px;
    background-color: rgb(229,229,229);
    transition: background-color 1s, 
    color 1s;
}

#projets .select, #projets li:hover { 
    background-color: rgb(92,173,211); 
    color: white; 
    font-weight: 300; 
    border-bottom: 4px solid rgb(70,140,173); 
    position: relative; 
    cursor: pointer;
}

.projet{ 
    display: flex;
    justify-content: center;
    width: 140%;
    margin: 0 auto;
}

.projetsAlbum { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    width: 70%; 
    margin: 0 auto;
}

figure img {
    width: 100%;
    height: 180px;
} 

figure { 
    position: relative;
    /* Positionnement de la légende au survol */
    overflow: hidden;
    width: 260px; 
    margin: 15px; 
    background-color: rgba(0,0,0,0);
} 

/* Légende au survol */ 
figcaption { 
    position: absolute; 
    background: rgba(0,0,0,0.4); 
    color: white; 
    width: 100%; 
    padding: 0 10px;
    opacity: 0; 
    bottom: -30%; 
    left: 0; 
    transition: all 0.6s ease;
} 

figure:hover figcaption {
    opacity: 1; 
    bottom: 0;
}

/* Bulle bleue avec logo oeil*/
figcaption div { 
    width: 35px; 
    height: 35px; 
    background-color: rgb(69,144,177); 
    border-radius: 50%; 
    border: 2px solid white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    left: 70%; 
    top: -20px;
}

/*La partie contact début*/
#contact { 
    position: relative;
} 

.googleMaps, #conteneurContact { 
    width: 100%; 
    position: absolute; 
    height: 600px; 
    border: 0;
} 


#conteneurContact { 
     background-color: rgba(92,173,211, .4); 
     display: flex; 
     align-items: center; 
     justify-content: flex-end;
} 
     
form { 
    background-color: rgba(255,255,255, .8); 
    width: 224px;
    height: 80%; 
    margin: 40px 69px; 
    padding: 20px; 
    padding-right: 30px; 
    border-radius: 3px;
} 

form h2 { 
    padding: 0px; 
    margin: 0px; 
    font-size: 180%;
} 

input { 
    width: 100%; 
    height: 25px; 
    border-radius: 3px; 
    margin-bottom: 15px; 
    padding-left: 10px; 
} 
textarea { 
    width: 100%; 
    height: 100px; 
    border-radius: 3px; 
    padding-left: 10px;
} 
.bouton { 
    color: white; 
    background-color: rgb(92,173,211); 
    border-bottom: 3px solid rgb(70,140,173); 
    border-radius: 3px; 
    padding: 5px; 
    text-decoration: none;
}
